name: Build on pull request

on:
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/setup-node@v4
        with:
          node-version: 24

      - name: Install deps
        run: npm ci
        
      - name: Build
        run : tsc

